body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.control-label, .dl-horizontal dt { text-align: left !important; }

.btnCadastro-wrapper { margin-bottom: 35px; }

.pergunta-exclusao { margin-bottom: 21px; }

textarea {
    min-height: 100px;
    resize: vertical;
    height: 100px;
}

#logout {
    cursor: pointer;
}