@{
    ViewBag.Title = "Carrinho de Compras";
}

<h2 class="center-block text-center">Carrinho de Compras</h2>
<hr />

@if (ViewBag.Carrinho.Count > 0)
{
    <table id="tbCarrinho" class="table table-hover">
        <thead>
            <tr>
                <th>Produto</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Preço</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Carrinho)
            {
                double preco = item.Key.Preco * item.Value;
                string precoFormatado = String.Format("R$ {0:0.00}", Convert.ToDecimal(preco.ToString()));

                <tr>
                    <td>@item.Key.Nome</td>
                    <td class="text-center">
                        <a class="glyphicon glyphicon-minus" href="/Carrinho/DecrementarProdutoCarrinho?produtoId=@item.Key.ProdutoID"></a>
                        <span class="quantidade">@item.Value</span>
                        <a class="glyphicon glyphicon-plus" href="/Carrinho/IncrementarProdutoCarrinho?produtoId=@item.Key.ProdutoID"></a>
                    </td>
                    <td class="text-center">@(precoFormatado)</td>
                    <td>
                        <a href="/Carrinho/RemoverProdutoCarrinho?produtoID=@item.Key.ProdutoID" class="btn btn-default center-block">Remover</a>
                    </td>
                </tr>
            }
        </tbody>

        @{
            string totalFormatado = String.Format("R$ {0:0.00}", Convert.ToDecimal(ViewBag.TotalCarrinho.ToString()));
        }

        <tfoot>
            <tr>
                <td colspan="3"><b>Total</b></td>
                <td class="text-right">@(totalFormatado)</td>
            </tr>
        </tfoot>
    </table>

    <div id="botoes-carrinho">
        <a class="btn btn-primary btn-lg pull-right" href="#">Finalizar Compra</a>
        <a class="btn btn-default btn-lg pull-right" href="/Produtos/Search">Continuar Comprando</a>
    </div>
}
else
{
    <div>
        <h3>Não há produtos em seu carrinho.</h3>

        <p>Para adicionar algum produto em seu carrinho, clique no botão abaixo, encontre o produto desejado e clique em adicionar ao carrinho.</p>

        <div id="botoes-carrinho">
            <a class="btn btn-default btn-lg pull-right" href="/Produtos/Search">Compre Agora!</a>
        </div>
    </div>
}